.container {
  min-height: 100vh;
  max-width: 1024px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr;
}

.header_info {
  display: flex;
  background: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  height: 5vh;
}